body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
}

.game-boy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vh;
    height: 90vh;
    margin: 5vh auto 0;

    background: #d9cfd7;
    border-radius: 1vh 1vh 10vh 1vh;
}

.top {
    display: flex;
    width: 100%;
    justify-content: center;

    border-bottom: 1px solid #000;
}

.power {
    width: 42vh;
    border-left: 1px solid #000;
    border-right: 1px solid #000;

}

.screen-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 52vh;
    height: auto;
    padding: 1.5vh;

    background: #727388;
    border-radius: 1vw 1vw 5vw 1vw;
}

.decorator {
    height: 1vh;

    border-top: .3vh solid blue;
    border-bottom: .3vh solid red;
}

.decorator-left {
    width: 28%;
}

.decorator-right {
    width: 18% ;
}

.screen-text {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;  
    width: 50%;
    margin: 0 2%;

    font-size: 1.5vh;
    color: #fff;
    text-align: center;
}

.battery {
    width: 10%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 1.5vh;
}

.dot {
    width: 1vh;
    height: 1vh;
    margin-bottom: 1vh;

    background: red;
    border-radius: 100%;
}

.screen {
    width: 30vh;
    height: 30vh;
    margin: 1vh 0 1vh 6vh;

    background: green;
}

.brand {
    width: 85%;

    font-size: .8em;
    text-align: left;
}

.controllers {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.cross-axis {
    width: 15vh;
    height: 15vh;
    margin-left: 5vh;

    background: #333;
    border-radius: 100%;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;

    width: 17vh;
    height: 8vh;
    padding: .2vh .6vh;
    margin-right: 5vh;
    margin-top: 1em;
    transform: rotate(-25deg);

    background: linear-gradient(0deg, #d9cfd7, #bab1b2);
    border-radius: 5em;
}

.button {
    width: 7vh;
    height: 7vh;

    background: #630314;
    border-radius: 100%;
}

.select-start {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 20vh;
    height: 3vh;

}

.select, .start {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    width: 8vh;
    
    
    transform: rotate(-25deg);
    font-size: 2vh;
}


.button-sm {
    width: 75%;
    height: 1.5vh;
    margin:0 auto .8vh;
    
    background: #333;
    border-radius: 5vh;
}

.start  span, .select span {
    margin: 0 auto;

    font-size: 1.5vh;
}

.bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;

    width: 100%;

}

.phones {
    width: 10vh;
}

.speaker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 16vh;
    height: 10vh;
    margin-right: 3vh;
    transform: rotate(-30deg);
}

.groove {
    width: 1vh;
    height: 100%;

    background: #000;
    border-radius: 5vh;
}